<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>親愛的管理員，您好：</p>

  <p>訂單編號：<%= @order.ordernum%>，會員填寫了新的詢問，快回來後台查看吧！</p>

  <%= render "cama_mailer/footer" %>
</body>
</html>