<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>親愛的管理員，您好：</p>

  <p>有新訂單成立囉，快回來後台管理吧！</p>

  <%= render "cama_mailer/footer" %>
</body>
</html>

