<div id="wrapper">
  <div id="up">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="24%">此訂單虛擬帳號：</td>
            <td width="76%"><%= @order.accountinfo %></td>
        </tr>
    </table>
  </div>
  <div id="down">
      <%= link_to "確認", "/admin/orders/#{@order.id}/#{params[:event]}" , :method => :post , class: "action_confirmed" , id: "send" %>
      <%= link_to "取消" , "javascript: void(0);" , class: "cancel" , id: "cancel" %>
  </div>
 </div> 