<link href="/css/about.css" rel="stylesheet">

<% content_for :header do %>
  <div id="banner">
    <div class="container row">
      <div class="col-md-3 col-md-offset-9 col-sm-12">關於cama</div>
    </div>
  </div>
<% end %>

<article class="container-fluid">
  <div id="content-1" class="content">
    <section class="container row">
      <div class="col-sm-5 col-sm-offset-1">
        <h2>Bean-to-Cup</h2>
        <h4>從一顆生豆  ‧  到一杯咖啡</h4>
        <p>我們深知一杯美味咖啡的各項環節與要素。
          所以我們選擇在店內精準演繹整個Bean-to-Cup流程。
          手工挑豆、得宜烘焙、即時研磨、黃金萃取與吧台手藝....
          從一顆生豆到一杯咖啡，最透明的製作流程，提供最真誠的賞味體驗。<br>
          <br>
          在cama咖啡研究室的把關下，六位國際杯測師的味蕾，
          就是您品質的堡壘。
          對於您手中的咖啡品質，我們有著100%的堅持~！</p>
      </div>
      <div class="col-sm-6 hidden-xs"> <img src="images/abt-13.gif" class="img-responsive"> </div>
    </section>
  </div>
  <!--content-1-->
  <div id="content-2" class="content">
    <section class="container row">
      <div class="col-sm-5 col-sm-offset-1 hidden-xs">
        <h4>cama 的核心價值</h4>
        <img src="images/abt-02.jpg" class="img-responsive"> </div>
      <div class="col-sm-5 col-sm-offset-1">
        <h3>carefully graded 精心手選</h3>
        <h4>手工挑豆的秘訣，誠實與堅持而已</h4>
        <p>we handpicked the defective green beans before roasting.<br>
          咖啡生豆常混入雜質及瑕疵豆，我們在烘焙之前，一定會以人工手選挑除瑕疵豆，將影響咖啡品質的不良豆挑除。</p>
      </div>
    </section>
  </div>
  <!--content-2-->
  <div id="content-3" class="content">
    <section class="container row">
      <div class="col-sm-5 col-sm-offset-1">
        <h3>a-ranked brewing 頂級技術</h3>
        <h4>差一秒就倒掉，是我們追求最佳萃取<br>
          時間的態度</h4>
        <p>our passionate baristas are highly trained and ready to serve.<br>
          咖啡吧台師傅擁有的超高實力，正是一家店與其他店分出高下的魅力所在...cama的吧台師傅具有超高技術水準，心中永遠想著要提供讓客人滿足、好喝的咖啡…</p>
      </div>
    </section>
  </div>
  <!--content-3-->
  <div id="content-4" class="content">
    <section class="container row">
      <div class="col-sm-4 col-sm-offset-1 hidden-xs"> <img src="images/abt-07.gif" class="img-responsive"> </div>
      <div class="col-sm-2 hidden-xs"> <img src="images/abt-08.png" class="img-responsive"> </div>
      <div class="col-sm-5">
        <h3>mellow roasting 新鮮烘焙</h3>
        <h4>看得到的新鮮，勝過千言萬語</h4>
        <p>Believing and pursuing fresh coffee with the great taste.<br>
          咖啡生豆經烘焙後二～七天味道和香氣會達到頂點，之後品質就開始惡化了。新鮮烘焙的咖啡豆可以說是咖啡好喝的最大關鍵！我們堅持給您最佳賞味期限的咖啡。 </p>
      </div>
    </section>
  </div>
  <!--content-4-->
  <div id="content-5" class="content">
    <section class="container row">
      <div class="col-sm-5 col-sm-offset-1">
        <h3>a-ranked brewing 頂級技術</h3>
        <h4>差一秒就倒掉，是我們追求最佳萃取時間的態度</h4>
        <p>our passionate baristas are highly trained and ready to serve.<br>
          咖啡吧台師傅擁有的超高實力，正是一家店與其他店分出高下的魅力所在...cama的吧台師傅具有超高技術水準，心中永遠想著要提供讓客人滿足、好喝的咖啡…</p>
      </div>
    </section>
  </div>
  <!--content-5-->
  <div id="list-box">
    <section class="container row">
      <h3>cama 大事記</h3>
      <div class="clearfix">
      <div id="bike" class="hidden-sm hidden-xs"></div>
      <div class="pull-left list" id="list-1">
          <h5>2014</h5>
          <p>● 自有商品”果樹女神-Pomona”耳掛包獲得<br>
            「2014臺北咖啡掛耳包競賽」第三名<br>
            ● 2014《天下》[金牌服務業調查]-[連鎖咖啡業]獲選入前五強<br>
            ● 總店數預定成長為80家</p>
        </div>
        <div class="pull-right list" id="list-2">
          <h5>2013</h5>
          <p>● 總店數成長為62家 62 stores<br>
            ● 榮獲工商時報2013台灣服務業大評鑑連鎖店亞軍<br>
            ● 和平店店長榮獲台中市拉花冠軍</p>
        </div>
        <div class="pull-left list" id="list-3">
          <h5>2012</h5>
          <p>● 總店數成長為48家<br>
            ● 敦南店店長榮獲台北市拉花冠軍</p>
        </div>
        <div class="pull-right list" id="list-4">
          <h5>2011</h5>
          <p>● 總店數成長為19家 </p>
        </div>
        <div class="pull-left list" id="list-5">
          <h5>2010</h5>
          <p>● 開放加盟，總店數邁入<br>
            兩位數共11家</p>
        </div>
        <div class="pull-right list" id="list-6">
          <h5>2009</h5>
          <p>● 第4家直營店成立</p>
        </div>
        <div class="pull-left list" id="list-7">
          <h5>2006</h5>
          <p>● 第2家店創立現在的外帶模式</p>
        </div>
        <div class="pull-right list" id="list-8">
          <h5>2004</h5>
          <p>● 創立第一家店</p>
        </div>
      </div>
    </section>
  </div><!--list-box-->
  <div id="cup" class="content hidden-sm hidden-xs">
    <section class="container">
    <h3>聚星雲集簽名杯</h3>
    <div id="star"></div>
        <ul class="bxslider">
          <li><img src="images/abt-18.png" class="img-responsive"/></li>
          <li><img src="images/abt-19.png" class="img-responsive"/></li>
        </ul>

    </section>
  </div>
  <!--cup-->
  <div id="report" class="content">
  <h5>媒體專訪與報導</h5>
    <section class="container row">    
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://bw.businessweekly.com.tw/webarticle2.php?id=20620" target="_blank">
          <span>商業周刊雜誌專訪 >></span><br>
          <h6>八坪小店星巴克1.8倍</h6>                  
        <img src="images/abt-22.jpg" class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.brain.com.tw/News/RealNewsContent.aspx?ID=19290 " target="_blank">
          <span>動腦雜誌專訪 >></span><br>
          <h6>鮮明特色賣出高坪效</h6>                  
        <img src="images/abt-23.jpg" class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.cw.com.tw/article/article.action?id=5029588&page=1" target="_blank">
          <span>天下雜誌專訪 >></span><br>
          <h6>泡出平價咖啡的真價值</h6>                  
        <img src="images/abt-24.jpg" class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.cheers.com.tw/article/article.action?id=5048891" target="_blank">
          <span>Cheers雜誌專訪 >></span><br>
          <h6>現烘豆衝出外帶藍海</h6>                  
        <img src="images/abt-25.jpg" class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.cwbook.com.tw/product/ProductAction.shtml?prodId=0000013376" target="_blank">
          <span>書籍介紹 >></span><br>
          <h6>小小咖啡店</h6>                  
        <img src="images/abt-26.jpg" class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://tw.weibo.com/citicpub/3610521729371362" target="_blank">
          <span>書籍介紹 >></span><br>
          <h6>因為有你</h6>                  
        <img src="images/abt-27.jpg" class="img-responsive"/>
        </a>
      </div>
    </section>
    <section class="container row">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="https://www.youtube.com/watch?v=C76NRy_4iT4" target="_blank">
          <span>中天新聞 >></span><br>
          <h6>平價咖啡店拚業績.....</h6>                  
        <img src="images/abt-28.jpg" class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.youtube.com/watch?v=_GLAicHRRyk" target="_blank">
          <span>民視新聞 >></span><br>
          <h6>寒流來襲外送業績增2成</h6>                  
        <img src="images/abt-29.jpg" class="img-responsive"/>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <a href="http://www.nexttv.com.tw/news/realtime/finance/10633478/%E5%89%B5%E6%A5%AD%E4%B8%BB%E6%94%BB%E5%A4%96%E9%80%81%E3%80%808%E5%9D%AA%E5%92%96%E5%95%A1%E5%BA%97%E3%80%8C%E5%84%84%E5%85%83%E5%82%B3%E5%A5%87%E3%80%8D" target="_blank">
          <span>蘋果新聞 >></span><br>
          <h6>8坪咖啡店「億元傳奇」</h6>                  
        <img src="images/abt-30.jpg" class="img-responsive"/>
        </a>
      </div>
    </section>
  </div><!--report-->
</article>
<script src="js/jquery.parallax-1.1.3.js"></script> 
<script src="js/TweenMax.min.js"></script> 
<script src="js/jquery.superscrollorama.js"></script> 
<script src="js/jquery.bxslider.min.js"></script> 
<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({pager:false});
    $('#content-3').parallax({offsetY:-200,speedFactor:0.2}); 
    $('#content-5').parallax({offsetY:-200,speedFactor:0.3}); 
  }); 
</script>
<script>
function Flashing(){   
    $("#star").fadeOut(1500).fadeIn(1500);
    setTimeout(Flashing,500);   
}   
Flashing();  
</script> 
<script>
jQuery(document).ready(function(){  
  var controller = $.superscrollorama();
	controller.addTween('#content-2', TweenMax.from( 
    $('#content-2 img'),  1 ,  {css:{
      opacity:0,
      'position':'relative',
      top:'40px'  
    }}
  ).delay(.5)).addTween('#content-2', TweenMax.from( 
    $('#content-2 h3'),  1 ,  {css:{
      opacity:0,
      'position':'relative',
      left:'40px'  
    }}
  )).addTween('#content-3', TweenMax.from( 
    $('#content-3 h3'),  1 ,  {css:{
      opacity:0,
      'position':'relative',
      right:'40px'  
    }}
  )).addTween('#content-4', TweenMax.from( 
    $('#content-4 h3'),  1 ,  {css:{
      opacity:0,
      'position':'relative',
      left:'40px'  
    }}
  )).addTween('#content-4', TweenMax.from( 
    $('#content-4 .col-sm-4 img'),  1.5 ,  {css:{
      opacity:0,
      'position':'relative',
      left:'-20px'
    }}
  )).addTween('#content-4', TweenMax.from( 
    $('#content-4 .col-sm-2 img'),  1 ,  {css:{
      opacity:0,
      'position':'relative',
      left:'-60px',
	  'transform':'rotate(-180deg)'
    }}
  )).addTween('#content-5', TweenMax.from( 
    $('#content-5 h3'),  1 ,  {css:{
      opacity:0,
      'position':'relative',
      right:'40px'  
    }}
  )).addTween('#content-1', TweenMax.from( 
    $('#content-1 img'),  1 ,  {css:{
      opacity:0,
      'position':'relative',
      left:'20px',
    }}
  )).addTween(
    '#list-1',
    (new TimelineLite())
      .append([
        TweenMax.fromTo($('#bike'), 1, 
          {css:{
            top: '-2.5%',
            left: '30%',
            backgroundPosition:'left top'
          }}, 
          {css:{
            top: '5%',
            left: '61%',
            backgroundPosition:'left top'
          }}
        )        
      ]),
    10 // scroll duration of tween
  ).addTween('#list-2', TweenMax.fromTo( 
    $('#bike'),  .75 ,  {css:{      
      top:'8.5%',
      left:'61%',
      backgroundPosition:'left bottom'
    }},  {css:{     
      top:'16%',
      left:'30%',
      backgroundPosition:'left bottom'
    }}
  )).addTween('#list-3', TweenMax.fromTo( 
    $('#bike'),  .75 ,  {css:{
      top:'19.5%',
      left:'30%',
      backgroundPosition:'left top'
    }},  {css:{
      top:'27%',
      left:'61%',
      backgroundPosition:'left top'    
    }}
  )).addTween('#list-4', TweenMax.fromTo( 
    $('#bike'),  .75 ,  {css:{			
			top:'30.5%',
			left:'61%',
			backgroundPosition:'left bottom'
    }},  {css:{			
			top:'38%',
			left:'30%',
			backgroundPosition:'left bottom'
    }}
  )).addTween('#list-5', TweenMax.fromTo( 
    $('#bike'),  .75 ,  {css:{
			top:'41.5%',
			left:'30%',
			backgroundPosition:'left top'
    }},  {css:{
			top:'49%',
			left:'61%',
			backgroundPosition:'left top'		
    }}
  )).addTween('#list-6', TweenMax.fromTo( 
    $('#bike'),  .75 ,  {css:{			
			top:'52.5%',
			left:'61%',
			backgroundPosition:'left bottom'
    }},  {css:{			
			top:'60%',
			left:'30%',
			backgroundPosition:'left bottom'
    }}
  )).addTween('#list-7', TweenMax.fromTo( 
    $('#bike'),  .75 ,  {css:{
			top:'63.5%',
			left:'30%',
			backgroundPosition:'left top'
    }},  {css:{
			top:'71%',
			left:'61%',
			backgroundPosition:'left top'		
    }}
  ));
});
</script>