<% title '店內飲品' %>
<link href="/css/drink.css" rel="stylesheet">

<% content_for :header do %>
    <div id="banner">
    <div class="container row">
      <div class="col-md-3 col-md-offset-9 col-sm-12">店內飲品</div>
    </div>
  </div>
<% end %>

<article class="container-fluid">
  <section class="container row">
    <div class="col-md-8 col-md-offset-2 col-sm-12" >
      <div class="content">
        <h3>現烘焙咖啡  Fresh Roast Coffee</h3>
        <div class="clearfix">
          <div class="pull-left text-center"><img src="/images/drk-02.png" class="img-responsive"></div>
          <div class="pull-right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="78%">&nbsp;</td>
                <td width="11%">熱</td>
                <td width="11%" class="mark">冰</td>
              </tr>
              <tr>
                <td>黑咖啡 Americano </td>
                <td>40</td>
                <td class="mark">40</td>
              </tr>
              <tr>
                <td>濃縮咖啡 Single Espresso </td>
                <td>40</td>
                <td class="mark">-</td>
              </tr>
              <tr>
                <td>特調咖啡 Coffee Flavored </td>
                <td>50</td>
                <td class="mark">50</td>
              </tr>
              <tr>
                <td>卡布奇諾 Cappuccino</td>
                <td>60</td>
                <td class="mark">60</td>
              </tr>
              <tr>
                <td>拿鐵 Latte</td>
                <td>60</td>
                <td class="mark">60</td>
              </tr>
              <tr>
                <td>榛果拿鐵 Hazelnut Latte </td>
                <td>70</td>
                <td class="mark">70</td>
              </tr>
              <tr>
                <td>香草拿鐵 Vanilla Latte </td>
                <td>70</td>
                <td class="mark">70</td>
              </tr>
              <tr>
                <td>焦糖瑪琪朵 Caramel Macchiato </td>
                <td>70</td>
                <td class="mark">70</td>
              </tr>
              <tr>
                <td>杏仁牛奶咖啡 Almond Latte </td>
                <td>70</td>
                <td class="mark">70</td>
              </tr>
              <tr>
                <td>摩卡咖啡 Chocolate Mocha </td>
                <td>70</td>
                <td class="mark">70</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="content">
        <h3>濃郁巧克力   Chocolate</h3>
        <div class="clearfix">
          <div class="pull-left text-center"><img src="/images/drk-03.png" class="img-responsive"></div>
          <div class="pull-right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="78%">&nbsp;</td>
                <td width="11%">熱</td>
                <td width="11%" class="mark">冰</td>
              </tr>
              <tr>
                <td>威士忌巧克力奶昔 Whisky Chocolate </td>
                <td>65</td>
                <td class="mark">65</td>
              </tr>
              <tr>
                <td>薄荷巧克力奶昔 Mint Chocolate </td>
                <td>65</td>
                <td class="mark">65</td>
              </tr>
              <tr>
                <td>橘酒巧克力奶昔 Orange Chocolate</td>
                <td>65</td>
                <td class="mark">65</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="content">
        <h3>世界特產茶 Juice &amp; Tea</h3>
        <div class="clearfix">
          <div class="pull-left text-center"><img src="/images/drk-04.png" class="img-responsive"></div>
          <div class="pull-right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="78%">&nbsp;</td>
                <td width="11%">熱</td>
                <td width="11%" class="mark">冰</td>
              </tr>
              <tr>
                <td>世界特產茶 Juice &amp; Tea</td>
                <td>35</td>
                <td class="mark">35</td>
              </tr>
              <tr>
                <td>日式烘烤煎茶 Japanese Roasted Tea</td>
                <td>35</td>
                <td class="mark">35</td>
              </tr>
              <tr>
                <td>德國花草茶 Herbal Tea </td>
                <td>35</td>
                <td class="mark">35</td>
              </tr>
              <tr>
                <td>皇家奶茶 Royal Milk Tea </td>
                <td>35</td>
                <td class="mark">35</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="content">
        <h3>天然純釀醋 Vinegar</h3>
        <div class="clearfix">
          <div class="pull-left text-center"><img src="/images/drk-05.png" class="img-responsive"></div>
          <div class="pull-right">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="78%">&nbsp;</td>
                <td width="11%">熱</td>
                <td width="11%" class="mark">冰</td>
              </tr>
              <tr>
                <td>純釀梅子醋 Plum Vinegar </td>
                <td>-</td>
                <td class="mark">40</td>
              </tr>
              <tr>
                <td>蔓越莓醋 Cranberry Vinegar </td>
                <td>-</td>
                <td class="mark">40</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
