<link href="/css/notice.css" rel="stylesheet">

<% content_for :header do %>
    <div id="banner">
    <div class="container row">
      <div class="col-md-3 col-md-offset-9 col-sm-12">退換貨須知</div>
    </div>
  </div>
<% end %>

<article class="container-fluid">
  <section class="container row">
    <div class="col-md-8 col-md-offset-2 col-sm-12" >
      <p>一、退換貨限制與規則：<br>
        退貨：<br>
        ‧咖啡熟豆商品因具有品嚐期限，恕不接受退貨。<br>
        ‧台灣以外地區，恕不接受熟豆與生豆商品退貨。<br>
        ‧請將商品連同發票寄回，並寫信至 <a href="mailto:shopping@camacafe.com" target="_blank">shopping@camacafe.com</a> 描述貨品狀況與運費 , 我們會於退款時連同您的運費一併退還。</p>
      <p> 換貨：<br>
        ‧您所退回的商品必須保持商品本體、附件、內外包裝、配件、贈品、保證書、原廠包裝及所有隨附文件或資料的完整性，切勿缺漏任何配件或損毀原廠外盒。<br>
        ‧請您以送貨使用之原包裝紙箱或紙袋，將退貨商品包裝妥當，若原紙箱紙袋已遺失或破損，請另使用其他紙箱包覆於商品原廠包裝之外，切勿直接於原廠包裝上黏貼紙張或書寫文字。<br>
        ‧換貨僅能針對同一項商品更換，無法將商品A換為商品B。若您欲換成其他品項或尺寸，請先辦理原商品退貨，再重新訂購您所需要的商品。</p>
      <p>二、辦理退換貨時，若商品有下列情形者，可能會被認定為已逾越檢查商品之必要程度，而將影響退貨權利的行使或需負擔毀壞之費用。因此若您在訂購商品前或收到商品後，希望更進一步了解商品的使用方式，或對該產品有任何疑慮，請先來函 <a href="mailto:shopping@camacafe.com" target="_blank">shopping@camacafe.com</a> 或來電 02-2755-0068 與客服人員連絡：<br>
        ‧耗材 ( 濾紙類 )：除了瑕疵商品，退回之商品已拆封與完整包裝 ( 商品、附件、外盒等) 。<br>
        ‧器具 ( 杯子、電器品、湯匙、濾杯…等 )： 除了瑕疵商品，退回之商品已拆封 ( 即除運送用之包裝外一切包裝、包括但不限於封膜等接觸商品內容之包裝部分、封條移除、吊牌拆除、貼膠移除或標籤拆除等情形 ) 或已非全新狀態 ( 外觀不得有刮傷、破損、受潮…等 ) 與完整包裝 ( 商品、附件、原廠外盒、保護袋、保麗龍、隨貨文件等 )。若原廠包裝損毀將無法退貨或須將損壞費用於退款中扣抵。</p>
    </div>
  </section>
</article>
