<% title '退換貨須知' %>
<link href="/css/notice.css" rel="stylesheet">
<% content_for :header do %>
<div id="banner">
  <div class="container row">
    <div class="col-md-4 col-md-offset-8 col-sm-12">退換貨須知</div>
  </div>
</div>
<% end %>
<article class="container-fluid">
  <section class="container row">
    <div class="col-md-8 col-md-offset-2 col-sm-12" >
      <p>一、退換貨限制與規則：<br>
        於本網站完成購物，可於收貨後七天內退換商品，相關說明如下：<br>
        <br>
        退貨：<br>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" style="width:20px">•</td>
          <td>咖啡豆、耳掛包等新鮮烘焙商品因具有賞味期限，恕不接受退貨。</td>
        </tr>
        <tr>
          <td valign="top" style="width:20px">•</td>
          <td>請將商品連同發票寄回cama總公司（台北市大安區信義路四段155號12樓 ），並同時寫信至 <a href="mailto:service@camacafe.com" target="_blank">service@camacafe.com </a>描述貨品狀況與運費。退款時，我們將一併退還您的運費。</td>
        </tr>
      </table>
      </p>
      <p> 換貨：<br>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" style="width:20px">•</td>
          <td>您所退回的商品必須保持商品本體、內外包裝、配件、贈品、保證書等的完整性，請勿缺漏任何附件或損毀外盒。</td>
        </tr>
        <tr>
          <td valign="top" style="width:20px">•</td>
          <td>請您以送貨時之原包裝紙箱或紙袋，將退貨商品包裝妥當，若原紙箱紙袋已遺失或破損，請另使用其他紙箱包覆於商品原廠包裝之外，請勿直接於原廠包裝上黏貼紙張或書寫文字。</td>
        </tr>
        <tr>
          <td valign="top" style="width:20px">•</td>
          <td>換貨時，我們無法為您將商品A換為商品B。若您欲換成其他品項或規格，請先辦理原商品退貨，再重新訂購您所需要的商品。</td>
        </tr>
      </table>
      </p>
      <p>二、辦理退換貨時，若商品有下列情形者，可能會被認定為已逾越檢查商品之必要程度，而將影響退貨的權利，或需負擔毀壞之費用：<br>
        <br>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" style="width:20px">•</td>
          <td>咖啡類耗材（濾紙類等）：除瑕疵商品外，退回之商品已拆封，或包裝不完整（欠損商品、附件、外盒等）。</td>
        </tr>
        <tr>
          <td valign="top" style="width:20px">•</td>
          <td>器具類 ( 杯子、電器品、湯匙、濾杯…等 )：除瑕疵商品外，退回之商品已拆封（運送用包裝外的一切包裝，包括但不限於封膜等接觸商品內容之包裝部分，如封條移除、貼膠移除或標籤撕除等情形），或已非全新狀態（外觀刮傷、破損、受潮…等），與非完整包裝（商品、配件、外盒、保護袋、保麗龍、隨貨文件等有所欠損）。若原廠包裝損毀，將無法退貨，或須將損壞費用於退款中扣抵。</td>
        </tr>
      </table>
      <br>
      若您在訂購商品前或收到商品後，希望更進一步了解商品的使用方式，或對該產品有任何疑慮，歡迎隨時來信 <a href="mailto:service@camacafe.com" target="_blank">service@camacafe.com </a> 或來電 02-2755-0068 與客服人員連絡。
      </p>
    </div>
  </section>
</article>
