<tr>
  <td>
    <%= link_to user.username, admin_user_path(user)  %>
  </td>
  <td>
    <%= link_to user.email, admin_user_path(user)  %>
  </td>
  <td>
    <div class="tool">
      <!-- <a class="delete" title="刪除"></a> -->
    </div>
  </td>
</tr>